name: Latest blog posts

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull latest posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          max_post_count: "6"
          feed_list: "https://medium.com/feed/@huseyin-kaplan"
