name: Metrics

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate metrics.svg
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: huseyinkaplan00
          template: classic
          filename: assets/metrics.svg
          config_timezone: Europe/Istanbul

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_indepth: yes

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_lines: yes
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes

      - name: Generate achievements.svg
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: huseyinkaplan00
          template: classic
          filename: assets/achievements.svg
          base: ""
          plugin_achievements: yes
          plugin_achievements_display: compact

      - name: Commit metrics.svg
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore: update metrics"
